
## <summary>policy for nrgc</summary>


########################################
## <summary>
##	Transition to nrgc.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nrgc_domtrans',`
	gen_require(`
		type nrgc_t, nrgc_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, nrgc_exec_t, nrgc_t)
')


########################################
## <summary>
##	Execute nrgc server in the nrgc domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nrgc_initrc_domtrans',`
	gen_require(`
		type nrgc_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, nrgc_initrc_exec_t)
')


########################################
## <summary>
##	Search nrgc lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nrgc_search_lib',`
	gen_require(`
		type nrgc_var_lib_t;
	')

	allow $1 nrgc_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read nrgc lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nrgc_read_lib_files',`
	gen_require(`
		type nrgc_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, nrgc_var_lib_t, nrgc_var_lib_t)
')

########################################
## <summary>
##	Manage nrgc lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nrgc_manage_lib_files',`
	gen_require(`
		type nrgc_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, nrgc_var_lib_t, nrgc_var_lib_t)
')

########################################
## <summary>
##	Manage nrgc lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nrgc_manage_lib_dirs',`
	gen_require(`
		type nrgc_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, nrgc_var_lib_t, nrgc_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a nrgc environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nrgc_admin',`
	gen_require(`
		type nrgc_t;
		type nrgc_initrc_exec_t;
		type nrgc_var_lib_t;
	')

	allow $1 nrgc_t:process { ptrace signal_perms };
	ps_process_pattern($1, nrgc_t)

	nrgc_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 nrgc_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, nrgc_var_lib_t)

')

